room/.vs/roomweb/FileContentIndex/467f9dd3-7882-4022-9c08-62287c61e61b.vsidx
room/.vs/roomweb/FileContentIndex/b4037f1c-3b52-4e28-ac88-c7c26aebe456.vsidx
room/.vs/roomweb/FileContentIndex/f7a8e02d-67fe-4083-a972-770f70c6cc96.vsidx
room/.vs/roomweb/FileContentIndex/read.lock
room/.vs/roomweb/v16/.suo
room/.vs/roomweb/v17/.suo
room/bin/TypeScriptHTMLApp1.dll
room/bin/TypeScriptHTMLApp1.dll.config
room/bin/TypeScriptHTMLApp1.pdb
room/obj/Debug/Tsc.out
room/obj/Debug/TypeScriptHTMLApp1.dll
room/obj/Debug/TypeScriptHTMLApp1.pdb
room/obj/Debug/roomweb.csproj.CoreCompileInputs.cache
room/obj/Debug/roomweb.csproj.FileListAbsolute.txt
room/obj/Debug/roomweb.csprojAssemblyReference.cache
room/obj/Debug/DesignTimeResolveAssemblyReferences.cache
room/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
room/obj/Debug/roomweb.csproj.AssemblyReference.cache
room/.vs/roomweb/config/applicationhost.config
room/.vs/roomweb/FileContentIndex/180b5ff3-1998-4691-a32a-0711f7b26dbe.vsidx
room/.vs/roomweb/FileContentIndex/2910cd49-8610-4c36-b789-31444841b9f7.vsidx
room/.vs/roomweb/FileContentIndex/4aed9d00-4a03-4ed8-a1a6-7f394bf76bcc.vsidx
room/.vs/roomweb/FileContentIndex/6152d883-42a2-4b76-9db5-a95b1610acbb.vsidx
room/.vs/roomweb/FileContentIndex/700f0f08-294e-4ac9-927d-5ff739991803.vsidx
room/.vs/roomweb/FileContentIndex/e00599d2-8597-4b56-bdd3-84c677601d2f.vsidx
room/www/js/code.js
room/www/js/code.js.map
